{% extends "base.jinja.html" %}

{% block title %}Editor{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Effect Stacks</h2>
                <a class="btn btn-primary" href="{{ url_for('.edit', type_='stack') }}">New</a>
                <ul class="list-group">
                    {% for s in db['effect_stacks'].values() %}
                        <li class="list-group-item"><a href="{{ url_for('.edit', type_='stack', name=s.name) }}">{{ s.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-4">
                <h2>Effect Groups</h2>
                <a class="btn btn-primary" href="{{ url_for('.edit', type_='group') }}">New</a>
                <ul class="list-group">
                    {% for g in db['effect_groups'].values() %}
                        <li class="list-group-item">
                            {{ g |lp_color }}
                            <a href="{{ url_for('.edit', type_='group', name=g.name) }}">
                                {{ g.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-4">
                <h2>Effects</h2>
                <a class="btn btn-primary" href="{{ url_for('.edit', type_='effect') }}">New</a>
                <ul class="list-group">
                    {% for e in db['effects'].values() %}
                        <li class="list-group-item"><a href="{{ url_for('.edit', type_='effect', name=e.name) }}">{{ e.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}