{% extends "base.jinja.html" %}

{% block scripts %}
    {{ super() }}
    <script>start_ui();</script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-12 output-container top"></div>
            <div class="col-sm-12 output-container middle">
                <form id="control-form" class="form-inline" style="display: none;">
                    <div class="row-fluid">
                        <div class="form-group col-sm-2">
                            <label for="cf-light">Light</label>
                            <input type="text" class="form-control" disabled id="cf-light" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="cf-property">Property</label>
                            <input type="text" class="form-control" id="cf-property" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="cf-start">Start</label>
                            <input type="text" class="form-control" id="cf-start" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="cf-end">End</label>
                            <input type="text" class="form-control" id="cf-end" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="cf-done">Done</label>
                            <input type="text" class="form-control" id="cf-done" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="cf-duration">Duration</label>
                            <input type="text" class="form-control" id="cf-duration" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 output-container bottom"></div>
        </div>
    </div>
{% endblock %}